*{
margin: 0;
padding: 0;
background-color: pink;

}

.container{
    box-sizing: border-box;
}

h1{
    padding: 15px;
    color: green;

}

.pokemon_list{
    color: darkviolet;
}

.img_carta{
    padding: 20px;
    color: aqua;
    max-width: 100%;
}

.carta{
    background-color: blue;
    padding: 5px;
    height: 300px;
    width: 150px;
    border: solid 5px red;
    align-content: center;
    margin: 5%;
     
}

.nome_pokemon{
    font-size: medium;
    color: black;
    background-origin: solid 50px yellow;
    align-content: center;
    margin: 5px;
}

.pokeball_number{
    font-size: medium;
    color: purple;
    background-origin: solid 50px yellow;
    align-content: center;
    margin: 5px;
}




