*{
margin: 0;
padding: 0;
background-color: pink;

}

.container{
    box-sizing: border-box;
}

h1{
    padding: 15px;
    color: green;
    text-align: center;
    
}

.pokemon_list{
    color: darkviolet;
    display: flex;
    flex-wrap: wrap;
}

.img_carta{
    padding: 20px;
    color: aqua;
    max-width: 77%;
}

.carta{
    background-color: blue;
    padding: 5px;
    height: 238px;
    width: 180px;
    border: solid 5px red;
    align-content: center;
    margin: 5%;
}

.nome_pokemon{
    font-size: medium;
    color: black;
    align-content: center;
    margin: 5px;
    text-align: center;
    font-weight: bold;
   
}

.pokeball_number{
    font-size: medium;
    color: purple;
    align-content: center;
    margin: 5px;
    text-align: center;
    font-weight: bold;
}




